accelerate
addict
aiohttp
attrdict
binpacking
charset_normalizer
cpm_kernels
dacite
datasets>=3.0,<3.4
einops
fastapi
gradio>=3.40.0
importlib_metadata
jieba
matplotlib
modelscope>=1.23
nltk
numpy<2.0
openai
oss2
pandas
peft>=0.11,<0.16
pillow
requests
rouge
safetensors
scipy
sentencepiece
simplejson>=3.3.0
sortedcontainers>=1.5.9
tensorboard
tiktoken
tqdm
transformers>=4.33,<4.53
transformers_stream_generator
trl>=0.13,<0.18
uvicorn
zstandard
numpy>=1.26.0
rouge_score>=0.1.2
fire>=0.5.0
# openai
transformers==4.34.0
torch>=2.0.0
sentencepiece>=0.1.99
tokenizers>=0.14.0
# wandb
accelerate>=0.23.0
datasets>=2.14.5
deepspeed>=0.10.3
peft>=0.5.0
# partial
# gradio
einops>=0.7.0
bitsandbytes==0.41.1
scipy>=1.11.3
protobuf>=4.24.4
torchmetrics>=1.2.0
